/* CSS HEX - palette from coolors.co
    --orange-crayola: #ff6b35ff;
    --peach-crayola: #f7c59fff;
    --beige: #efefd0ff;
    --usafa-blue: #004e89ff;
    --sapphire-blue: #1a659eff;
*/ /*color palette with complimenting colors */

/* •••••••••••••• global styles •••••••••••••• */  /*sets global styles to be used in each section of page */
html {
 box-sizing: border-box; /*adds uniform sized boxes for each section */
}
*, *:before, *:after {
 box-sizing: inherit;  /*inherits from parent elements */
}
body{                   /*defines standard font color, margins, pads, font type/ size and lines */
  color: #efefd0ff;
  margin: 0;
  padding: 0;
  font-family: 'Trirong', serif;  /*imported font with fallback */
  font-size: 18px;
  line-height: 1.75;
}

img {
  width: 300px;
}
h1, h2{
  font-family: 'Train One', cursive; /*seperate font for titles and sub-headings with fallback different from main text */
}
h1 {
  font-size: 60px;      /*global title size and margins */
  margin-bottom: 5px;
}
h2 {
  margin: 0px;        /*global sub-heading size*/
  font-size: 40px;

}

.wrap{                /*defines sizes box model for all sections with name wrap */
  max-width: 900px;
  width: 85%;
  margin: 0 auto;
  padding: 40px 0;
}

.block-details h3{  /*targets parent then child element with h3 */
  margin-bottom: 0;
}
.block-details h3 + p { /*adjacent sibling selector selects element (p) directly after h3 element */
  font-style: italic;
}

.block-details h3 ~ p { /*selects all next sibling with element (p) after h3 in div with name .block-details */
  margin-top: 10px;
}

.divider > section {  /*selects all section elements of name divider */
  border-bottom: 3px solid #efefd0ff;
  padding: 10px;
}

.divider > section:last-of-type{ /*selects last element of its type */
  border-bottom: none;
}

/* •••••••••••••• About me •••••••••••••• */
header{
  background: #1a659eff;
  border-bottom: 3px solid #fff;
}
.about {
  overflow: hidden;
  margin-top: 20px;
}
.ja{
  text-align: left;
}
.jsd{
  text-align: left;
}
.profile-pic{
  border: 10px solid #efefd0ff;
  border-radius: 50%;
}

/* •••••••••••••• Collage  •••••••••••••• */
.collage{
  background-color: #efefd0ff;
  border-bottom: 3px solid #fff;
}
.row-collage {
  display: flex;    /*flexbox to expand items in collage to fill all space available */
}
.column-collage {   /*specifies column sizes, padding and margins as well as flex size */
  flex: 33.33%;
  padding: 5px;
  margin-top: 7px;
  margin-bottom: 7px;
  display: grid;
}
/* •••••••••••••• Work experience •••••••••••••• */
.work{
  background: #f7c59fff;
  color: #004e89ff;
  border-bottom: 3px solid #fff;
}

/* •••••••••••••• Education •••••••••••••• */
.edu{
  background: #ff6b35ff;
  /* color: #004e89ff; */
  border-bottom: 3px solid #fff;
  /* background-image: url(../images/school.jpg);
  background-size: cover;
  background-position: center right; */ /*thought of using an image however it affected the over all style and look of the page */
}

/* •••••••••••••• Interests •••••••••••••• */
.interests{
  background: #004e89ff;
  border-bottom: 3px solid #fff;
  background-image: url(../images/painting.jpg); /*background image used to break up the style of the page and give viewer something fresh to look at */
  background-size: cover;             /*cover to all the image to cover entire area of box */
  background-position: center left;   /*position of image on screen */
}

/* •••••••••••••• Game time ••••••••••••••*/
.game-time {
  background: #f7c59fff;
  color: #004e89ff;
  border-bottom: 3px solid #fff;
}

/* •••••••••••••• 2 truths and a lie ••••••••••••••*/
.ttaal{
  background: #ff6b35ff;
  border-bottom: 3px solid #fff;
}

/* •••••••••••••• Survey •••••••••••••• */
.survey{
  background: #1a659eff;
  border-bottom: 3px solid #fff;
  /* color: #004e89ff; */
}

/* •••••••••••••• Contact •••••••••••••••••••••• */

footer {
  background: #fff;
  color: #efefd0ff;
  background-image: url(../images/letters.jpg);
  background-size: cover;
  background-position: bottom;
  padding-bottom: 10px;
}

footer h2 {
    margin-left: 10px; /*margins for sub-heading */
}

footer h3 {
    margin-left: 14px;
}

ion-icon {
  color: #fff;
  margin: 10px;
  font-size: 60px;  /*icon selector with declaration followed by property and value */
}

/* •••••••••••••• Responsive •••••••••••••••••••••• */ /*viewport responsiveness for different screen sizes */
@media all and (min-width: 675px){      /*with screens of 675px or more showing these selectors and declarations */
  .we-item {
    display: grid;
    grid-template-columns: 2fr 3fr;
    column-gap: 20px;
  }
  .survey-item {
    display: grid;
    grid-template-columns: 1fr 4fr;
    column-gap: 5px;
  }
  .contact{
    padding: 0px;
    display: flex;
    justify-content: center;
  }
  .about img{
    float: left;
    margin-right: 32px;
    margin-top: 16px;
  }
  .logos {
    display: inline-flex;
    }
}


@media all and (max-width: 674px){ /*screens of 674px or less show these selectors and declarations */
  h1 {
    font-size: 40px;}
  h2 {
    font-size: 30px;}
  .logos {
  display: inline-grid;
  }

  body{
    color: #efefd0ff;
    margin: 0;
    padding: 0;
    font-family: 'Trirong', serif;
    font-size: 16px;
    line-height: 1.5;
  }
}
